.positioned-div {
  position: absolute;
  top: 10%;
  /* Adjust the top value to position it as needed */
  left: 50%;
  min-width: 25%;
  transform: translate(-50%, 0%);
  /* background-color: #f0f0f0; Background color for visibility */
}

.card-size {
  max-width: 25%;
  /* position: absolute;
  top: 10%;
  left: 60%;
  transform: translate (-60%,0%); */
}

.home-div {
  position: absolute;
  top: 40%;
  /* Adjust the top value to position it as needed */
  left: 50%;
  min-width: 25%;
  transform: translate(-50%, 0%);
  /* background-color: #f0f0f0; Background color for visibility */
}

Home.css .main-container {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Place the background image behind the content */
  opacity: 1;
  /* Adjust the opacity of the background image as needed */

}

.content {
  position: relative;
  height: 130vh;
  /* transform: translate(-10%, -0%); */
  z-index: 1;
  /* Place the content above the background image */
  padding: 20%;
  text-align: center;
  /* Center-align the content */
  /* background-color: rgba(255, 255, 255, 0.8); */
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.leaderboard {
  background-image: url('./images/background2.png');
  background-size: cover;
  -webkit-animation: slidein 8s;
  animation: slidein 8s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.game {
  background-image: url('./images/background4.png');
  background-size: cover;
  -webkit-animation: slidein 12s;
  animation: slidein 12s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.gameover {
  background-image: url('./images/background3.png');
  background-size: cover;
  -webkit-animation: slidein 12s;
  animation: slidein 12s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.howtoplay {
  background-image: url('./images/background2.png');
  background-size: cover;
  -webkit-animation: slidein 12s;
  animation: slidein 12s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.home {
  background-image: url('./images/background2.png');
  background-size: cover;
  -webkit-animation: slidein 10s;
  animation: slidein 10s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.login,
.signup {
  background-image: url('./images/background3.png');
  background-size: cover;
  -webkit-animation: slidein 10s;
  animation: slidein 10s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;700&display=swap');

:root {
  --font: 'Poppins', monospace;
} 

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1px;
}

.center h1 {
  text-align: center;
  font-weight: bold;
  font-size: 150px;
  color: rgb(79, 45, 96);
  font-family: var(--font);
  font-weight: bolder;
  /* background-color: rgb(223, 154, 97); */
  opacity: 90%;
  text-transform: uppercase;
}

.center h2 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(224, 160, 107);
  opacity: 90%;
  text-transform: uppercase;
}

.center h3 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(224, 160, 107);
  opacity: 70%;
  text-transform: uppercase;
  /* width: 30% */
}
.center h4 {
  text-align: center;
  /* font-weight: bold; */
  /* font-size: 30px; */
  color: black;
  /* background-color: rgb(92, 169, 207); */
  opacity: 70%;
  text-transform: uppercase;
}

.center h5 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(172, 121, 79);
  opacity: 90%;
  text-transform: uppercase;
}

.center h6 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(121, 84, 53);
  opacity: 90%;
  text-transform: uppercase;
}

.center li {
  display: block;
  /* display: flex; */
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: white;

  font-family: var(--font);
  background-color: rgb(172, 121, 79);
  opacity: 90%;
  text-transform: uppercase;
}

#root {
  text-align: center;
  width: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 25em;
  padding: 25px;
  margin: auto;
  background-color: rgb(219, 233, 245);
  border-color: rgb(131, 150, 168);
  border-width: 10px;
  border-style: solid;
  height: 550px;
}

p {
  font-size: 1.3em;
}

.form-signin .checkbox {
  font-weight: 500;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  font-size: 1.6em;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

btn-large {
  height: 80px;
  width: 400px;
  font-size: 1.5em;
}

a {
  /* font-size: 1.5em; */
  text-decoration: none;
}

.card-txt{
  background-color: rgb(172, 121, 79);
  opacity: 75%;
}

.btn-style{
  opacity: 90%;
}