.positioned-div {
  position: absolute;
  top: 10%; /* Adjust the top value to position it as needed */
  left: 50%;
  min-width: 25%;
  transform: translate(-50%,0%);
  /* background-color: #f0f0f0; Background color for visibility */
}

.card-size {
  max-width: 25%;
  /* position: absolute;
  top: 10%;
  left: 60%;
  transform: translate (-60%,0%); */
}

.home-div {
  position: absolute;
  top: 40%; /* Adjust the top value to position it as needed */
  left: 50%;
  min-width: 25%;
  transform: translate(-50%,0%);
  /* background-color: #f0f0f0; Background color for visibility */
}
Home.css

.main-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the background image behind the content */
    opacity: 1; /* Adjust the opacity of the background image as needed */
    
}

.content {
    position: relative; 
    height: 100vh;
    /* transform: translate(-10%, -0%); */
    z-index: 1; /* Place the content above the background image */
    padding: 20%; 
    text-align: center; /* Center-align the content */
    /* background-color: rgba(255, 255, 255, 0.8); */
}

/* body  {
    background-image: url('./images/background2.png');
    background-size:cover;
    -webkit-animation: slidein 10s;
    animation: slidein 10s;
    
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    
    -webkit-animation-direction: alternate;
    animation-direction: alternate;              
} */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.leaderboard  {
    background-image: url('./images/background4.png');
  background-size:cover;
        -webkit-animation: slidein 8s;
        animation: slidein 8s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

.home {
    background-image: url('./images/background2.png');
  background-size:cover;
        -webkit-animation: slidein 10s;
        animation: slidein 10s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

.login, .signup {
    background-image: url('./images/background3.png');
  background-size:cover;
        -webkit-animation: slidein 10s;
        animation: slidein 10s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1px;
}
.center h1{
  text-align:center;
  font-weight: bold;
  font-size: 150px;
  color:white;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(223, 154, 97);
  opacity: 90%;
  text-transform:uppercase;
}
