body, html, #root {
    height: 100%;
    margin: 0;
    background: cream;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    /* TODO Needs to be center no matter what size of screen */
    width: 1600px;
    height: 900px;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: solid 8px black; */
    /* border-radius: 50px; */
    /* background: rgb(41, 41, 41); */
    gap: 30px;
    /* opacity: 70%; */
}

.playerInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    /* Center the text horizontally */
    width: auto;
    /* Make it take the full width of its parent */
}

.main-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

:root {
  --font-pop: 'Poppins', monospace;
  --font-2P: 'Press Start 2P', monospace;
} 


.user,
.timer {
    display: flex;
    flex-direction: column;
}

.score,
.level {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.head {
    font-size: 15px;
    font-weight: 900;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: var(--font-pop);
}

.infoTimer {
    font-size: 50px;
    font-weight: 900;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: var(--font-2P);
}

.info {
    font-size: 35px;
    font-weight: 800;
    color: var(--text-color);
    font-family: var(--font-2P);
}

.gameboard {
    width: 1280px;
    height: 720px;
    /* display: flex;
    flex-wrap: wrap; */
    border: var(--border);
    background: var(--background);
    border-radius: var(--border-radius);
    /* opacity: 100%; */
}

.hexagon {
    fill: rgba(255, 203, 130, 0.65);
    display: grid;
    place-items: center;
}


svg g {
    fill: #4499a9;
    fill-opacity: 0.6;
}

svg g:hover {
    fill: #7be3f6;
    fill-opacity: 0.7;
}

svg g:hover text {
    fill-opacity: 1;
}

svg g polygon {
    stroke: #000000;
    stroke-width: 0.2;
    transition: fill-opacity .5s;
}

svg g text {
    font-size: 0.22em;
    fill: rgb(0, 0, 0);
    fill-opacity: 0.7;
    transition: fill-opacity .5s;
}

svg path {
    fill: none;
    stroke: #7be3f6;
    stroke-width: 0.2em;
    stroke-opacity: 0.7;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.enemy {
    transform: translate(-5%, -5%);
}

.friendly {
    transform: translate(-5%, -5%);
}

.player {
    transform: translate(-5%, -5%);
}

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 5px solid black;
    --border-radius: 50px;
    --speed: 500ms;
    --background: rgba(255, 255, 255, 0.35);
}

.dashboard {
    height: 80%;
    width: 500px;
    margin-left: 20px;
    /* transform: translateX(-45%); */
    background-color: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    user-select: none;
}

.menu-item {
    height: 8px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 1.6em;
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    background-color: #525357;
}

.bullets {
    height: 50%;
    width: 100%;
}

.bullets {
    z-index: 1;
}

.dimmed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 80%;
}

.dimmed p{
    color: white;
    font-size: 180px;
    font-weight: 900;
    font-family: var(--font-pop);
}

.fade-out {
    animation: fadeout 1.5s forwards;
}

@keyframes fadeout {
    from { opacity: 80%; }
    to   { opacity: 0; }
}