
body {
    margin: 0;
    background: cream;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    /* TODO Needs to be center no matter what size of screen */
    width: 1600px;
    height: 900px;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid 8px black;
    border-radius: 50px;
    background: grey;
}



.gameboard {
    width: 1280px;
    height: 720px;
    /* display: flex;
    flex-wrap: wrap; */
    border: solid 1px black;
    background: rgba(255, 255, 255, 0.221);
    border-radius: 50px;
}

.hexagon {
    fill: white;
    display: grid;
    place-items: center;
  }

svg g {
    fill: #4499a9;
    fill-opacity: 0.6;
}

svg g:hover {
    fill: #7be3f6;
    fill-opacity: 0.7;
}

svg g:hover text {
    fill-opacity: 1;
}

svg g polygon {
    stroke: #000000;
    stroke-width: 0.2;
    transition: fill-opacity .5s;
}

svg g text {
    font-size: 0.22em;
    fill: rgb(0, 0, 0);
    fill-opacity: 0.7;
    transition: fill-opacity .5s;
}

svg path {
    fill: none;
    stroke: #7be3f6;
    stroke-width: 0.2em;
    stroke-opacity: 0.7;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.enemy {
    transform: translate(-5%, -5%);
}

.friendly {
    transform: translate(-5%, -5%);
}

.player {
    transform: translate(-5%, -5%);
}

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.dropdown {
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

.menu-item {
    height: 8px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 1.6em;
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    background-color: #525357;
}

/* Home.css */

.main-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the background image behind the content */
    opacity: 1; /* Adjust the opacity of the background image as needed */
    
}

.content {
    position: relative; 
    /* transform: translate(-10%, -0%); */
    z-index: 1; /* Place the content above the background image */
    padding: 20%; 
    text-align: center; /* Center-align the content */
    /* background-color: rgba(255, 255, 255, 0.8); */
}

/* h1 {
    font-size: 50px;
} */

