body, html, #root {
    height: 100%;
    margin: 0;
    background: cream;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    /* TODO Needs to be center no matter what size of screen */
    width: 1600px;
    height: 900px;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid 8px black;
    border-radius: 50px;
    background: grey;
    gap: 30px
}

.timer {
    text-align: center; /* Center the text horizontally */
    padding: 10px; /* Add some padding for spacing */
    background-color: #f0f0f0; /* Optional background color for better visibility */
    width: 100%; /* Make it take the full width of its parent */
  }

  .timerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.gameboard {
    width: 1280px;
    height: 720px;
    /* display: flex;
    flex-wrap: wrap; */
    border: solid 1px black;
    background: rgba(255, 255, 255, 0.221);
    border-radius: 50px;
}

.hexagon {
    fill: white;
    display: grid;
    place-items: center;
  }

svg g {
    fill: #4499a9;
    fill-opacity: 0.6;
}

svg g:hover {
    fill: #7be3f6;
    fill-opacity: 0.7;
}

svg g:hover text {
    fill-opacity: 1;
}

svg g polygon {
    stroke: #000000;
    stroke-width: 0.2;
    transition: fill-opacity .5s;
}

svg g text {
    font-size: 0.22em;
    fill: rgb(0, 0, 0);
    fill-opacity: 0.7;
    transition: fill-opacity .5s;
}

svg path {
    fill: none;
    stroke: #7be3f6;
    stroke-width: 0.2em;
    stroke-opacity: 0.7;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.enemy {
    transform: translate(-5%, -5%);
}

.friendly {
    transform: translate(-5%, -5%);
}

.player {
    transform: translate(-5%, -5%);
}

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.dashboard {
    height: 80%;
    margin-left: 20px;
    /* transform: translateX(-45%); */
    /* background-color: var(--bg); */
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

.menu-item {
    height: 8px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 1.6em;
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    background-color: #525357;
}

.revolver {
    height: 50%;
    width: 100%;
}