<!-- canvas renders everything onto the page -->
<canvas></canvas>
<!-- references our javascript file to be used in the html -->
<script src="index.js"></script>


{{!-- Leaderboard & QUIT game button --}}
<div class="form-group">
  <a href="/leaderboard"> <button class="btn btn-primary" type="button">Quit game & View Leaderboard</button></a>
</div>