<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shootem-Up-Showdown</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
    <!-- Butotn Style From https://codepen.io/DanielWeiner/pen/naybVd -->
  <h1>Shootem-Up-Showdown</h1>
    <a href= "./game.html"><button class="homePageButtons">PLAY</button></a>
   <a href="./instructions.html"><button class="homePageButtons">HOW TO PLAY</button></a>
   <a href="./leaderboard.html"><button class="homePageButtons">LEADERBOARD</button></a>
  
</body>
</html>