* {
    box-sizing: border-box;
}

body {
    background: #333;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 1600px;
    height: 900px;
    margin: 0 auto;
    margin-top: 20px;
    background: #ffffff;
    border: 8px solid black;
    border-radius: 50px;
}

canvas {
}