<form class="form signup-form">

  <div class="form-group">
    <label for="username">Username </label>
    <input type="text" id="username-signup" placeholder="Choose your username" class="form-input" />
  </div>

  <div class="form-group">
    <label for="email">Email </label>
    <input type="text" id="email-signup" placeholder="Enter your email" class="form-input" />
  </div>

  <div class="form-group">
    <label for="password">Password </label>
    <input type="password" id="password-signup" placeholder="Choose your password" class="form-input" />
  </div>

  <div class="form-group">
    <a href="../index.html"><button class="btn btn-primary" type="submit">SIGN UP</button></a>
  </div>

  <div class="form-group">
    <a href="/login"> <button class="btn btn-primary" type="button">LOG IN INSTEAD</button></a>
  </div>

</form>


<script src='./js/signup.js'></script>